{{ define "main" }}
<section class="hero-section">
    <div class="hero-image">
        <img src="{{ "/hero.jpg" | relURL }}" alt="Pedro Alcàcer">
    </div>
</section>

<section class="quote-section">
    <div class="container">
        <blockquote class="testimonial">
            <p>"Pedro Alcácer is an engaging and lively musician, - full of ideas and with very interesting potential."</p>
            <footer>
                <strong>Hopkinson Smith,</strong><br>
                Professor of Lute, Schola Cantorum Baselensis
            </footer>
        </blockquote>
    </div>
</section>

<section class="cta-section">
    <div class="container">
        <h2><a href="https://album.link/s/1B2TgPuNXzNFRmfzthtYer" target="_blank">Listen to El Maestro in all Streaming Platforms</a></h2>
    </div>
</section>

<section class="newsletter-section">
    <div class="container">
        <h3>Subscribe to the Newsletter:</h3>
        <form class="newsletter-form" action="https://formspree.io/f/mbdlnanv" method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="hidden" name="_subject" value="New newsletter subscription">
            <input type="hidden" name="_next" value="{{ .Site.BaseURL }}">
            <button type="submit">Subscribe</button>
        </form>
    </div>
</section>
{{ end }}
