{{ define "main" }}
<section class="page-content">
    <div class="container">
        <div class="biography-hero">
            <img src="{{ "/images/biography-hero.jpg" | relURL }}" alt="Pedro Alcàcer" class="biography-image">
            <div class="biography-content">
                <h1>{{ .Title }}</h1>
                <div class="post-body">
                    {{ .Content }}
                </div>
            </div>
        </div>
        
        {{ partial "concerts.html" . }}
    </div>
</section>
{{ end }}
