<div class="concerts-table-wrapper">
  <table class="concerts-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>City</th>
        <th>Venue</th>
        <th>Ensemble</th>
        <th>Program</th>
      </tr>
    </thead>
    <tbody>
      {{ $csvFile := resources.Get "data/concerts.csv" }}
      {{ if $csvFile }}
        {{ $csvData := $csvFile | transform.Unmarshal (dict "delimiter" ";") }}
        {{ range $i, $row := after 1 $csvData }}
          {{ if gt (len $row) 1 }}
      <tr>
        <td>{{ index $row 0 }}</td>
        <td>{{ index $row 1 }}</td>
        <td>{{ index $row 2 }}</td>
        <td>{{ index $row 3 }}</td>
        <td>{{ index $row 4 }}</td>
      </tr>
          {{ end }}
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>
