{{ define "main" }}
<section class="page-content">
    <div class="container">
        <h1>{{ .Title }}</h1>
        <div class="post-body">
            {{ .Content }}
        </div>
        
        <div class="instruments-grid">
            {{ range .Params.instruments }}
            <div class="instrument-card">
                <img src="{{ .image | relURL }}" alt="{{ .title }}">
                <div class="instrument-info">
                    <h3>{{ .title }}</h3>
                    <p>{{ .builder }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
