{{ define "main" }}
<div class="container">
    <h1 class="title">{{ .Title }}</h1>
    <div class="columns is-multiline">
        {{ range .Params.media }}
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="{{ .video_url }}" target="_blank">
                                <img src="{{ .image | relURL }}" alt="{{ .title }}">
                            </a>
                        </figure>
                    </div>
                    <p class="title is-4">{{ .title }}</p>
                    <p class="subtitle is-6">{{ .subtitle }}</p>
                    <div class="content">
                        {{ .description | markdownify }}
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
